node_modules/
.pnpm-store/
dist/
build/
.turbo/
.next/
.vercel/
.env*
coverage/
.vscode/
.DS_Store
*.log
playwright-report/
.sbom/
!apps/admin/.env.example
!apps/api/.env.example
!apps/cdn/.env.example
!apps/config/.env.example
!apps/demo-host/.env.local
!apps/demo-host/.env.example

# Turborepo
.turbo
